<ion-modal-view id='book-appointment-popup'>
  <ion-header-bar style="background-color: #be292e;border-style: none;color: white;">
    <h1 class="title" style="color: white;"> Choose Appointment - {{modalTitle}} </span></h1>
  </ion-header-bar>
  <ion-content>
    <calendar ng-model="currentDate" calendar-mode="mode" no-events-label= "No Available Appointments" event-source="eventSource" time-selected="onTimeSelected(selectedTime, events)" title-changed="onViewTitleChanged(title)" event-selected="onEventSelected(event)" monthview-event-detail-template-url="monthviewEventDetailTemplateUrl">
  </ion-content>
  <ion-footer-bar style="height:55px;">
    <div class="row" style="padding: 0px;" >
      <div class="col-80 col-offset-10"><button class="button button-block button-positive" ng-click="closeCalendar()">Ok</button></div>
    </div>
  </ion-footer-bar>
</ion-modal-view>

